.search-overlay{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	z-index:10000;
}
#s2id_departureAirport, #s2id_budget-select {
	border: 2px solid #bdc3c7;
	margin: -2px;
}
#s2id_departureAirport.select2-dropdown-open, #s2id_budget-select.select2-dropdown-open{
	border-color:#1FB18A;
}
#s2id_departureAirport .select2-chosen, #s2id_budget-select .select2-chosen{
	color: #A3AEB9;
	font-size: 17px;
}
#s2id_departureAirport .select2-chosen:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	margin-right:10px;
	content: "\f072";
}
#datePicker1, #datePicker2, #budget{
	padding-left:45px;
}

.cal, .currency{
	position:absolute;
	top: 7px;
	left:18px;
	color:#A3AEB9;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#map-container {
  height: 100%;
}

#search-form {
  position: absolute;
  top: 0px;
  height: 80px;
  right: 0px;
  left: 0px;
  z-index: 1000;
}

.datepicker td.day.disabled {
  color: #ddd;
}

.datepicker {
	font-size: 17px;
	text-align: center;
	padding:5px;
}
.datepicker th {
	text-align:center;
}
.datepicker .table-condensed>tbody>tr>td{
  padding: 3px 9px;
}
.datepicker .table-condensed>tbody>tr>td.active, .datepicker .table-condensed>tbody>tr>td:hover, .datepicker .table-condensed>thead>tr>th.next:hover, .datepicker .table-condensed>thead>tr>th.prev:hover{
	background-color: #15B28A;
	color:#fff;
	border-radius: 19px;
	cursor:pointer;
}
.day.old, .day.new {
	color: #929EAB;
}

.mt20{
	margin-top:20px;
}

#s2id_budget-select{
	border: 2px solid #bdc3c7;
}

.col-md-offset-05{
	margin-left:4.1666666%;
}

.datamaps-subunit.active {
	fill: #2accAc !important;
}

.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#vertical-slider {
	position: fixed;
	top: 100px;
	left: 100px;
}

.datamaps-legend {
  left: 112px !important;
  top: 83px !important;
}

.datamaps-legend dt {
	font-weight: normal;
}